<a href="https://colab.research.google.com/github/snehapriya-bs/python-ai-mlops/blob/main/PNB_5_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

## Strings

A string is a series of characters. In Python, anything inside "quotes" is a string. You can either use 'single quotes' or "double quotes".

For more info, refer [here](https://www.w3schools.com/python/python_strings.asp).

####Exercise 1:

Declare the values of a string variable to be 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'.


Print the string.

In [ ]:
# YOUR CODE HERE

####Exercise 2:

Declare the values of a string variable to be "I need Tables, Chairs, Cupboards", in double qoutes.

Print the string.

In [ ]:
# YOUR CODE HERE

####Exercise 3:

Concatenate the two string variables declared in Exercise 1 and Exercise 2.

In [ ]:
# YOUR CODE HERE

####Exercise 4:

Write a short note on any topic in python and print the note using single `print` statement.

In [ ]:
# YOUR CODE HERE

####Exercise 5:

* Concatenate the output of the string in Exercise 3 and output of the string in Exercise 1.
* Print the length of the concatenated string.

In [ ]:
# YOUR CODE HERE

#### Exercies 6:

Perform simple string operations for A = "Hello", B = "world!":
 * Concatenate by +.
 * Multiple concatenation by *  (ex: 4 * A + " " * 3 + B * 2).
 * Check for substring with `in`.
 * Determine the size (number of characters) using `len`.

In [ ]:
# YOUR CODE HERE

####Exercies 7:

For the given variable name = 'hELLO, WORLD!', perform the following:
* Print the character '!'.
* Convert the string to lowercase.
* Print the first character in upper case.
* Print a string where all the upper case letters are lower case and vice versa.

In [ ]:
name = 'hELLO, WORLD!'
# YOUR CODE HERE

In [ ]:
# The lower() method returns a string converted to lowercase.
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

#### Exercies 8:

For a given string, perform the following:
* Using `for` to iterate over a string in Python.
* Print the number of times the letter/character ‘s’ appears in a string.

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

#### Exercies 9:

For a given list, perform the following:

* Print the list in reverse oder.

* Print the following my_list[-1].

* Print the following output  [2, 33, 222, 14] using slice method.

In [ ]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE

In [ ]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE

In [ ]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE

#### Exercies 10:

For the given string, perform following methods:

* Split the string by using 'word.split' and print the result.
* Replace MachineLearning by Python using `.replace()`.

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE