<a href="https://colab.research.google.com/github/snehapriya-bs/python-ai-mlops/blob/main/PNB_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

#### Pandas

* Pandas is an important python library for data manipulation, wrangling, and analysis.
* It functions as an intuitive and easy to use set of tools for performing operations on any kind of data.
* Initial work for pandas was done by Wes McKinney in 2008 while he was a developer at AQR Capital Management. Since then, the scope of the pandas project has increased a lot and it has become a popular library of choice for data scientists all over the world.
* Pandas allows you to work with both cross-sectional data and time series based data.
* The data representation in pandas is done using two primary data structures:
  - Series
  - Dataframes

In [ ]:
# @title  Download the data
!wget https://cdn.iisc.talentsprint.com/AIandMLOps/Datasets/Employee.csv

## Import Libraries

In [ ]:
import pandas as pd

#### Excercise 1: Load the data

In [ ]:
dataset = "Employee.csv"
# YOUR CODE HERE

#### Exercise 2: Get the number of rows and columns of the dataframe.

In [ ]:
## YOUR CODE HERE

#### Exercise 3: Print the names of all the columns.

In [ ]:
## YOUR CODE HERE

#### Exercise 4: Display the columns 4 to 9, for rows 7 to 13.

In [ ]:
## YOUR CODE HERE

#### Exercise 5: Display the information of the employees who have  joined in quarter 1 and 4.

In [ ]:
## YOUR CODE HERE

#### Exercise 6: How many people from the southern region joined on Monday?

In [ ]:
## YOUR CODE HERE

#### Exercise 7: Display the information of the employees who have more than 13 years experience in the company.

#### Types of data
* Categorical data
* Numeric data
* Text data

In [ ]:
dataset['Age in Yrs.'].unique()

In [ ]:
## YOUR CODE HERE

#### Exercise 8: What is  the datatype of each column?

In [ ]:
# YOUR CODE HERE

#### Exercise 9: Remove "%" sign from the "Last % Hike" column values

[Hint](https://stackoverflow.com/questions/52850192/python-extract-last-letter-of-a-string-from-a-pandas-column)

In [ ]:
## YOUR CODE HERE

#### Exercise 10:  How many Female employees got hike of more than 20% ?

In [ ]:
## YOUR CODE HERE