<a href="https://colab.research.google.com/github/snehapriya-bs/python-ai-mlops/blob/main/PNB_6_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **List**

#### Exercise 01:
Reverse the order of the given list.

In [ ]:
a = [100, 200, 300, 400, 500]

Expected output : [500, 400, 300, 200, 100]

In [ ]:
## YOUR CODE HERE

#### Exercise 02:
Concatenate two lists using `.extend()`.

In [ ]:
list1 = ["Hello ", "Students "]
list2 = ("Dear", "Sir")

Expected output : ['Hello ', 'Students ', 'Dear', 'Sir']

In [ ]:
## YOUR CODE HERE

#### Exercise 03:
For given list, perform the following:
* Print the last element from the list.
* Print index of element 4.

In [ ]:
list4 = [1, 2, 3, 4, 5, 6, 7]

Expected outputs: 7  and 3

In [ ]:
## YOUR CODE HERE

#### Exercise 04:  
Print the sublist from the given list.

Expected output : [9,8,7]

In [ ]:
list5 = [1, 2, 3, [9, 8, 7]]
## YOUR CODE HERE

#### Exercise 05:
For given list, find the following:

* Check the type of the list elements.
* Check whether the element `'name'` is present in the list.
* Find the length of the list.

In [ ]:
list6= [1,'name',0.7,"this is a sentence"]
# YOUR CODE HERE

####Exercise 6:
For the given list, find the following:

* Find the count of the apples.
* Insert the `'Watermelon'` at the last position.

In [ ]:
basket=['apple','apple','orange','mango','grape','orange','apple']
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

#### Exercise 07:  
Print the squares of the numbers in the given list.

Expected output :
<br/>36<br/>49<br/>64

In [ ]:
list1 = [6, 7, 8]

In [ ]:
## YOUR CODE HERE

#### Exercise 08:
For the given list, print only the positive elements.

Expected output:

2<br/>4<br/>6<br/>

In [ ]:
list2 = [-1, 2, -3, 4, -5, 6, -7]

In [ ]:
## YOUR CODE HERE

#### Exercise 09:
For the given list, print numbers which are multiples of 5.

Expected output :

10<br/>20<br/>30<br/>40

In [ ]:
list3 = [10, 12, 20, 22, 30, 32, 40]

In [ ]:
## YOUR CODE HERE

#### Exercise 10:
For the given list, print if the element is an one digit or a two-digit number.

Expected output :

5 is a one digit number.<br/>
15 is a two digit number.<br/>
20 is a two digit number.<br/>

In [ ]:
list4 = [5, 15, 20]

In [ ]:
## YOUR CODE HERE

#### Exercise 11:
For the given String, find the following:
* Split the string into a list of words and print them.
* Print the length of the list.

 Expected output :
 <br/>['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
 <br/>9

In [ ]:
string1 = "The quick brown fox jumps over the lazy dog"

In [ ]:
## YOUR CODE HERE

#### Exercise 12:
For the given List, find the following:
* list items from 2nd to 3rd.
* list items from beginning to 3rd.
* list items from 4th to the end of the list.

Expected Output :
<br/>[2, 3]
<br/>[1, 2, 3]
<br/>[4, 5, 6, 7]

In [ ]:
list5 = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
#YOUR CODE HERE

#### Exercise 13:
For the given list, print the numbers which are greater than or equal to 10.

Expected Output :
<br/>10<br/>11<br/>12<br/>13

In [ ]:
list6 = [0, 1, 2, 3, 10, 11, 12, 13]

In [ ]:
# YOUR CODE HERE