<a href="https://colab.research.google.com/github/snehapriya-bs/python-ai-mlops/blob/main/PNB_3_Loops_and_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

Exercise 1:  Write a *while* loop to print numbers from 0 to 10

In [ ]:
#YOUR CODE HERE

Exercise 2:  Print the first number greater than 100 that is divisible by 17

In [ ]:
#YOUR CODE HERE

Exercise 3: Using *for* loop print out the characters of 'Portland'

In [ ]:
#YOUR CODE HERE

Exercise 4: Do the following:

1. Use a lower bound of 1 and an upper bound of 10 with range to print 1-9
2. Use range with one bound only, the number 10, to print the first ten numbers
3. Use a step increment to count the even numbers through 10

In [ ]:
#YOUR CODE HERE

In [ ]:
#YOUR CODE HERE

In [ ]:
#YOUR CODE HERE

Exercise 5:  print each letter of "Python" three times

In [ ]:
#YOUR CODE HERE

Exercise 6: Write a *for* loop for the following

1.  print the squares of numbers from 1 to 10.
2.  iterate over a list of names and print each name
3.  calculate the sum of numbers in a given list.

In [ ]:
#YOUR CODE HERE

In [ ]:
#YOUR CODE HERE

In [ ]:
#YOUR CODE HERE

Exercise 7: Write a nested loop to generate multiplication tables for numbers from 1 to 10

In [ ]:
#YOUR CODE HERE