<a href="https://colab.research.google.com/github/snehapriya-bs/python-ai-mlops/blob/main/Soln_PNB_1_Variables%2C_Statements_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

#### Exercise 1: Check the type for the following

1. a = 6
2. b = 6.4
3. c = "Hello"
4. d = "17"
4. print e = a + b and check the type of e

In [ ]:
a = 6
b = 6.4
c = a + b
print (c)

#### Exercise 2: The goal of this exercise is to determine types and then change those types. Perform the following:

1. convert 7.999999999 to an int
2. Convert 6 to a float

In [ ]:
a=7.999999999
b=int(a)
print (b)
c=type(int(a))
print (c)

#### Exercise 3: The goal of this exercise is to assign values to variables. Variables can be assigned any value.

1. Assign value 2 to the x variable and print x
2. Add 1 to the variable x and check the output
3. Change x to 3.0 and add 1 to x

In [ ]:
a =2
print (a)
a = a + 1
print (a)
a=3.0
a=a+1
print(a)

#### Exercise 4: The goal of this exercise is to learn standard ways to name variables by considering good and bad practices

1. Create a variable called first_number and assign it a value of 1. Then check the output
2. Create a variable called first_number@ and assign it a value of 1. Then check the output

Recall the rules for Python variables naming:

  * A variable name must start with a letter or the underscore character
  * A variable name cannot start with a number
  * A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
  * Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#YOUR CODE HERE
first_number=1
print (first_number)
first_number@=1
print (first_number)

#### Exercise 5 : Perform mathematical operations using more than one variable.

1. Assign 5 to x and 2 to y
2. Add x to x and subtract y to the second power then assign to the variable z. Print z
3. Assign 8 to x and 5 to y in a single line
4. Find the integer division of x and y. Check the output.

In [ ]:
#YOUR CODE HERE
x=5
y=2
z = (x + x) - (y ** 2)
print (z)
x=8 ; y=5
z=x/y
print(z)

#### Exercise6: For given a and b values perform the following:

1. Perform addition on a and b  using the + operator
2. Perform subtraction on a and b  using the + operator
3. Use the * multiplication operator to multiply a and b
4. Use the / division operator and observe the output

In [ ]:
#YOUR CODE HERE
a=1; b=2
print (a+b)
print (a*b)
print (a/b)
print (a-b)

#### Exercise 7: Perform the following:

1. Add '5' and '7'
2. Add '5' and '7' by converting them to int
3. Determine the type of '5'

In [ ]:
#YOUR CODE HERE
b=5+7
c=int(b)
print (type(c))