<a href="https://colab.research.google.com/github/snehapriya-bs/python-ai-mlops/blob/main/Soln_PNB_3_Loops_and_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

Exercise 1:  Write a *while* loop to print numbers from 0 to 10

In [ ]:
#YOUR CODE HERE
# Initialize the starting number
number = 1

# Use a while loop to print numbers from 1 to 10
while number <= 10:
    print(number)
    number += 1

Exercise 2:  Print the first number greater than 100 that is divisible by 17

In [ ]:
#YOUR CODE HERE
number = 101  # Start checking from the first number greater than 100
while number % 17 != 0:
    number += 1

print("The first number greater than 100 that is divisible by 17 is:", number)

Exercise 3: Using *for* loop print out the characters of 'Portland'

In [ ]:
#YOUR CODE HERE
city="Portland"
for x in city :
  print (x)

Exercise 4: Do the following:

1. Use a lower bound of 1 and an upper bound of 10 with range to print 1-9
2. Use range with one bound only, the number 10, to print the first ten numbers
3. Use a step increment to count the even numbers through 10

In [ ]:
#YOUR CODE HERE
for i in range(1, 10):
    print(i)

In [ ]:
#YOUR CODE HERE
for i in range(10):
    print(i)

In [ ]:
#YOUR CODE HERE
for i in range(2, 11, 2):
    print(i)

Exercise 5:  print each letter of "Python" three times

In [ ]:
#YOUR CODE HERE
#Print Python three times
number=1
while (number >= 1) & (number <= 3):
  print ('python')
  number=number+1
  print(number)

  # print each letter of "Python" three times

  word = "Python"
for letter in word:
    print(letter * 3)

Exercise 6: Write a *for* loop for the following

1.  print the squares of numbers from 1 to 10.
2.  iterate over a list of names and print each name
3.  calculate the sum of numbers in a given list.

In [ ]:
#YOUR CODE HERE
for i in range (0,11):
  square=i*i
  print (square)

In [ ]:
#YOUR CODE HERE
names = ["Alice", "Bob", "Charlie", "Diana"]

for name in names:
    print(name)

In [ ]:
#YOUR CODE HERE
sum=0
num_list=[1,4,5]
for i in num_list:
 sum=sum+i
print(sum)

Exercise 7: Write a nested loop to generate multiplication tables for numbers from 1 to 10

In [ ]:
# Iterate over the numbers from 1 to 10
for i in range(1, 11):
    print(f"Multiplication table for {i}:")
    # Nested loop to multiply the current number by numbers from 1 to 10
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

In [ ]:
#YOUR CODE HERE
for i in range (1,11) :
  for z in range (1,11):
    result= i*z
    print (result)